.App .content .productSection p {
	margin: 2rem 5rem 2rem 5rem;

}

.App .content .productSection .gallery img {
	height: 15rem;
	margin: 1rem 5rem 2rem 5rem;
}

.App .content .productSection .gallery {
	text-align: center;
}

.kon {
	text-align: center;	
}

.kon p h1 {
	font-size: 150%;
}

.dane{
	width: 100%;
}

.dane tr td{
	width: 33%;
}

