.add, .order-list, .admin-choice, .get, .del{
    border: solid 1px black;
    margin: 1rem;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}
