@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Raleway:wght@100&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Playpen Sans', cursive;
}

.productList,.productSection {
	justify-content: center;
	margin: auto;
}

$mainColor: #523131;
$mainColorLight: #5767aa;
$secondaryColor: #ccbbbb;
$textColor: #eee;