$mainColor: #523131;
$mainColorLight: #5767aa;
$secondaryColor: #a7a5a5;
$textColor: #eee;

.productList {
	margin-top: 1rem;
    width: 100%;
	}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	justify-items: center;
}

@media only screen and (max-width: 1435px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}

}

@media only screen and (max-width: 987px) {
	.grid {
		grid-template-columns: 1fr;
	}

}

.productCard {
	position: relative;
	margin: 0.5rem 3rem;
	flex: 1 0 5rem;
	max-width: 30rem;
	max-height: 50rem;
	transition: 0.2s;
	cursor: pointer;
	border: solid 1px black;
	float: left;
	text-align: center;
	color: black;
}

.productCard:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.imageBlock {
	width: 350px;
	height: 350px;
}

.productImage {
	margin-top: 0rem;
	object-fit: contain;
    width: 100%;
	height: 350px;
}

.productCard__cart {
	position: absolute;
	right: 0;
	margin-right: 3rem;
	font-size: 1.25rem;
	transition: 0.2s;
	cursor: pointer;
}

.productCard__content {
	margin: 2rem;
}

.productName {
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 230px;
	//max-inline-size: 220px;
}

.displayStack__1,
.displayStack__2 {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.productPrice {
	font-size: 1rem;
	font-weight: bold;
}

h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 1rem;
}

.productSection {
	border: solid 1px black;
}

.textSection {
	font-family: 'Caladea', cursive;
	font-size: 200%;
	text-align: center;
}

.content {
	align-items: center;
	margin: 2rem;
	
}

.content .productSection h1 {
	cursor:default;
}

.baner {
	width: 100%;
	margin-bottom: 1rem;
}